<h1>Stupid Coaching</h1>

<div class="response">
  <p><%= @question %></p>
  <p class="user">- You</p>
</div>
<div class="response coach">
  <p id="answer"><%= @answer %></p>
  <p class="user">- Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
